xml-service/TryItWebPage/Service References/XMLService/XmlService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generateHtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xslURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateHtmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generateHtmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsdURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>