xml-service/TryItWebPage/Service References/XMLService/XmlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XmlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45399/XmlService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45399/XmlService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IXmlService_generateHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:generateHtml" />
  </wsdl:message>
  <wsdl:message name="IXmlService_generateHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IXmlService_validateXML_InputMessage">
    <wsdl:part name="parameters" element="tns:validateXML" />
  </wsdl:message>
  <wsdl:message name="IXmlService_validateXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IXmlService">
    <wsdl:operation name="generateHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlService/generateHtml" message="tns:IXmlService_generateHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlService/generateHtmlResponse" message="tns:IXmlService_generateHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlService/validateXML" message="tns:IXmlService_validateXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlService/validateXMLResponse" message="tns:IXmlService_validateXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IXmlService" type="tns:IXmlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generateHtml">
      <soap:operation soapAction="http://tempuri.org/IXmlService/generateHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateXML">
      <soap:operation soapAction="http://tempuri.org/IXmlService/validateXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlService">
    <wsdl:port name="BasicHttpBinding_IXmlService" binding="tns:BasicHttpBinding_IXmlService">
      <soap:address location="http://localhost:45399/XmlService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>